#subs {
    margin: 150px 100px 100px 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    #left {
        max-width: 50%;
        width: 100%; 
        display: flex;
        flex-direction: column;
        gap: 20px;

        #title {
            font-size: 40px;
            text-transform: uppercase;
            font-weight: 500;
        }

        #desc {
            font-weight: 300;
            font-size: 18px;
        }

        #interaction {
            form {
                display: flex;
                flex-direction: row;
                align-items: center;
                
                input,
                button {
                    font-size: 20px;
                    padding: 20px;
                }
               
                input {
                    max-width: 400px;
                    width: 100%;
                    border-radius: 20px;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border: none;
                    box-shadow: 3px 3px 10px rgb(222, 222, 222); 
                    outline: none;
                    border-radius: 10px;
                    color: gray;
                }

                input::placeholder {
                    color: rgb(173, 173, 173);
                }

                button {
                    border: none;
                    border-radius: 20px;
                    background-color: $orange;
                    color: $white;
                    outline: none;
                    position: relative;
                    right: 20px;
                    cursor: pointer;
                    padding-left: 30px;
                    padding-right: 30px;
                    max-width: 200px; 
                    width: 100%;
                }
            }
        }
    }

    #right {
        max-width: 50%;
        width: 100%;

        img {
            width: inherit;
        }
    }
}