@media screen and (max-width: 1200px) {
    #why-choose-us {
        #why {
            margin-left: 100px; 
            margin-right: 100px;
            
            #left {
                display: none;
            }
    
            #right {
                max-width: 100%;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #why-choose-us {
        #desc {
            max-width: 80%;
        }

        #why {
            #right {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

@media screen and (max-width: 870px) {
    #why-choose-us {
        #desc {
            max-width: 60%;
        }

        #why {
            #right {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

@media screen and (max-width: 660px) {
    #why-choose-us {
        #desc {
            max-width: 90%;
            margin: auto;
        }

        #why {
            #right {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

@media screen and (max-width: 700px) {
    #why-choose-us {
        #why {
            margin-left: 40px;
            margin-right: 40px;
        }
    }
}